<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
         colors="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertErrorsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="test/bootstrap.php"
        >
    <testsuites>
        <testsuite name="Parallel Task Test Suite">
            <directory>test</directory>
            <exclude>test/benchmark</exclude>
        </testsuite>
        <testsuite name="Parallel Task Benchmark Suite">
            <directory>test/benchmark</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

</phpunit>
